@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(to top, #1e674a, #005e26b3);
    }
    
    section {
        width: 100vw;
        height: 40vh;
        
    }

    #imagem {
        float: left;
        width: 40%;
        height: 100%;
    }

    #resto {
        float: right;
        width: 60%;
    }
}

@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to top, #1e674a 30%, #005823);
    }
    
    section {
        width: 950px;
        height: 350px;
        
    }

    #imagem {
        float: right;
        width: 50%;
        height: 100%;
    }

    #resto {
        float: left;
        width: 50%;
    }

    
}